@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1571380649533'); /* IE9 */
  src: url('iconfont.eot?t=1571380649533#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABpgAAAJ1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgp8gQcBNgIkAwwLCAAEIAWEbQc8G9MFyK4wbuGJgESruz3/xqOFUAEFHWXx8N/a630zsxsAUIAqJ5LKugoIZdkCyf46U2FIBnzZiL80l9cnFDbygSWPSD3qQu4KmGbk2OnZGTMhN+HWA57o/8Ahd5CQA9EWWABQu7zAmMmvYWKfuHfaBApkvtZ0WpPG3vypCzAOKKC9MYqsiALghrELXuBjAu2m9WiHjtxtRUlhrwrEnZtKF6VCUlFYpVWoGw4W8VGlNb1KX/Eh+n78txolkiqzNx69dm6Jo5+qm5fNF2cCkhQBHq+QsUIoxLnG4glZwRhZ7bZcd2OtCGmpzBPpDEd90D9eImp2eydYgNb0UHpPQvCn+5AEMqh9RnmMsIzog/Ek1/aUuH5lcdit9isZKSu13O7nuzn2aE0jGts7jkCjXbQ0+dP2tqbJNXZ393ZrYjeXsflzluIC+DM5p3eQq/SAhuDw+ndLc/2lagG7P54vchbDHa27DgW/Sj+wrxhG25WLpvN0VjjrOq0/ATU8ookd7fc33TE0OE9oLegZkhZTyFrNkAt9BZUOa6i12kK7ZZfHOwwgWVHasOQTIPT6QtLtC7JeP+RC/0Vl2D9qvZFFu2MxcGGHuXDaDz5CndEC4xkcMwql6+FK3LlGde/rlDdGzD1S6mRgTOXKJYZIS2xJH9SEWYKkKIAL8Bz6fgQxRS6aPLCZ4+nQm940MKNAVBxEkI4hCzA8Aw5TJCSD4axS+fwaUu75dNRBqKvvIZJyxgdjA6MB5EtbOIjwKK+kHigTjElAIpEAuADzkM8XAXHzPBcysQF7Qj42NXQGyaG2wfaO4P+OQDv7eI4UOYqWxzf00NOdUhQYCwE=') format('woff2'),
  url('iconfont.woff?t=1571380649533') format('woff'),
  url('iconfont.ttf?t=1571380649533') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1571380649533#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e50d";
}

.icon-zhankai1:before {
  content: "\e80e";
}

